.textinput{
    width:70%; 
    height: 90px;
    padding: 10px 10px; 
    box-sizing:border-box;
    border:2px solid #ccc;
    border-radius:4px;
    background-color:#fff;
    font-size:12px; 
    resize:none;
}
.toolDate{
    position: relative;
    cursor: pointer;
    padding: 2px;
    color: #b9c0c5;
    /* font-size: 12px; */
}
.toolDateText{
    position: absolute;
    left: -10%;
    bottom: 0;
    background-color: #000;
    color:#fff;
    white-space: nowrap;
    padding: 6px 8px;
    border-radius: 5px;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
    font-size: 12px;

}
.toolDateText::before{
    content: "";
    position: absolute;
    left: 0;
    bottom:0;
    transform: translateX(-50%);
}
.toolDate:hover .toolDateText{
    bottom: -20%;
    left: 100%;
    visibility: visible;
    opacity: 0.8;
}